<h1><a href="/">MyMusic</a></h1><br>

<h2>Регистрация:</h2><br>

{{#if errorMessage}}
<p style="color:red">{{errorMessage}}</p>
{{/if}}

{{#each errorMessages}}
<p style="color:red">Поле {{this}} не может быть пустым.</p>
{{/each}}

<form action="/registration" method="post">
  <label for="">Ваш логин:</label><br>
  <input id="login" type="text" name="login"><br>
  <label for="firstname">Ваше имя:</label><br>
  <input id="firstname" type="text" name="firstname"><br>
  <label for="lastname">Ваша фамилия:</label><br>
  <input id="lastname" type="text" name="lastname"><br>
  <label for="email">Ваш E-Mail:</label><br>
  <input id="email" type="text" name="email"><br>
  <label for="password">Ваш пароль:</label><br>
  <input id="password" type="password" name="password"><br><br>
  <input type="submit" value="Отправить">
</form>
